*
{
    margin: 0;
    padding: 0;
}
body
{
    background: #000080;
}

/*---------------------------------------------*/
.navbar
{

    align-items: center;
    display: flex;
    padding: 10px 100px;
    background: rgb(218, 223, 247);
}
.navbar .header h2{
    color: #2323a3;
}
.navbar nav
{
    text-align: right;
    flex: 1;
}
.navbar nav ul
{
    list-style: none;
}
.navbar nav ul li
{
    display: inline-block;
    padding-left: 15px;
}
.under-line
{
   border-bottom: #0000ff 1px solid;
}
.navbar nav ul li a
{
    text-decoration: none;
    color: #2a2a75;
    padding: 5px;
}
.navbar nav ul li a:hover
{
    color: #0000ff;
    transition: 0.6s;
}
.navbar nav ul .en 
{
    display: none;
}
.navbar nav ul .back 
{
    padding: 10px;
    transition: 0.6s;
}
.navbar nav ul .back:hover
{
    background: #0000ff;
    color: #fff;
    transition: 0.6s;
    border-radius: 5px;
}
/*-------------------------------------------------*/
.container2
{
    max-width: 1000px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;

}
.header a
{
    text-decoration: none;
}

.login
{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin:20px auto;
    border: solid 1px #000080;
    border-radius: 20px;
    background: #fff;
    position: relative;
    background: rgb(218, 223, 247);
}
.col-1
{
    flex-basis: 50%;
    min-width: 300px;
    
}
.col-1 img
{
    width: 100%;
}
.col-1 h1
{
    width: 100%;
    text-align: center;
    color: #000080;
    padding-bottom: 20px;
    text-decoration: underline #000080;
}
.col-1 form
{
    
    width: 80%;
    margin: auto;
    padding: 10px;
    
}
.col-1 form label
{
    color: #2f2fb3;
    font-size: 20px;
    font-weight: 500;
}
.col-1 form input
{
    width: 90%;
    margin:10px auto;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    height: 30px;
    border: #666 solid 1px;
}
.col-1 form input:hover
{
    border: solid 1px #000080;
}
.col-1 form button
{
    padding: 10px 50px;
    border-radius: 30px;
    color: #fff;
    background: #000080;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    font-size: large;
}
.col-1 form button:hover
{
    background: #2a2a75;
    transition: 0.6s;
}
.col-1 form select
{
    outline: none;
    height: 20px;
    width: 100px;
}
.col-1 form a
{
    color: #000080;
    font-size: 20px;
    font-weight: 500;
    margin-left: 70px;
    margin-top: 10px;
}